<!DOCTYPE html>
<html class="no-js" style="<%= flowbite_html_styles %>">
  <head>
    <title>Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'flowbite_components' %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "flowbite_components" %>
  </head>

  <body style="<%= flowbite_body_styles %>">
    <div class="app-wrapper">
      <div class="app-content">
        <main role="main">
          <% if content_for?(:content) %>
            <%= yield :content %>
          <% end %>
        </main>
      </div>
    </div>
  </body>
</html>
